<!DOCTYPE html>

<html>
<head>


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>


<script type="text/javascript">



    $( document ).ready(function() {

    });

</script>


</head>


<body>

    <div class="container">

    	<section id="prototypes">
           <ul>
                <li><%= link_to("Document Library",home_documentlibrary_path, target: "_blank" )%></li>
                <li><%= link_to("Product View",home_productview_path, target: "_blank" )%></li>
                <li><%= link_to("Decision API",ENV['OPP_API_URL'] + ":3000/decisions/4822-562", target: "_blank")%></li>            
                <li><%= link_to("Product API",ENV['OPP_API_URL'] + ":3000/products/4822-562", target: "_blank")%></li>            
                <li>Documentum</li>
                <li><a href ="https://w2032pcctr584.aa.ad.epa.gov/dctm-rest/repositories/prismenvdev6/cabinets.json" target="_blank">List of cabinets in DEV documentum</a></li>
                <li><a href="https://dcoppdoctstw01.epa.gov/dctm-rest/repositories/prismtest/objects/0901635b8001a68c/contents/content.json">File contents (enclosure) for a study (doctype opp_study) pass #r_object_id of the actual study object. </a></li>
           </ul>
        </section>
    </div>

</body>